<!DOCTYPE html>
<html lang="fr">
{% include 'home/head.html.twig' %}

<style>
  .mat{
    border: none;
  }
</style>

<body class="hold-transition sidebar-mini layout-fixed">
<div class="wrapper">

  {% include 'home/navbar.html.twig' %}

   <div class="py-3 px-5">

       {% include 'configuration/messageFlash.html.twig' %}


   <div class="card border-info" >
        <div class="card-header">
            <div class="row">
                    <h2 class="h3">
                         AJOUTER UNE NOTE DE GROUPE
                    </h2>
            </div>    
        </div>
            <div class="card-body">
                              

                <div class="row alert alert-info mb-5">

                    <h4 class="text-light">Ajouter une Note à la Classe {{ classe.codeClasse | upper}}</h4>
                </div>
                {{form_start(form)}}

                        <div class="container">
                          <div class="form-row text-center">
                              <div class="form-group mr-4">
                                  {{ form_row(form.classe, {'attr': {'value': classe.codeClasse}}) }}
                              </div>
                              <div class="form-group mr-4">
                                  {{ form_row(form.anneeScolaire, {'attr': {'value': annees.anneeScolaire}}) }}
                              </div>
                              <div class="form-group mr-4">
                                  {{ form_row(form.semestre) }}
                              </div>
                              <div class="form-group mr-4">
                                  {{ form_row(form.coefficient) }}
                              </div>
                            
                              <div class="form-group mr-4">
                                  {{ form_row(form.matiere) }}
                              </div>
                            
                          </div>
                        </div>
               
                
                  

                <div class="row mt-5">

                    <table class="table">
                      <thead>
                       
                      </thead>
                      <tbody>
                       
                        <tr>
                          <td colspan="4">
                            <table class=" table table-bordered">
                                <thead class="thead">
                                  <tr>
                                      <th scope="col">MATRICULE</th>
                                      <th scope="col">NOM</th>
                                      <th scope="col">PRENOMS</th>
                                      <th scope="col">SEXE</th>
                                      <th scope="col">ORIENTE</th>
                                      <th scope="col">CLASSE</th>
                                      <th class="ms-5">Date de naissance</th>
                                      <th class="ms-5">Notes</th>
                  
                                  </tr>
                              </thead>
                              <tbody>

                                  {% for etudiants in etudiants %}

                                      <tr>
                                          <th> <div class="form-group">
                                                  <input type="text" class="form-control mat" value="{{ etudiants.etud.matricule }}" name="matEtudiant">
                                              </div>
                                          </th>
                                          <td>{{ etudiants.etud.nom | upper}}</td>
                                          <td>{{ etudiants.etud.prenoms | upper}}</td>
                                          <td>{{ etudiants.etud.sexe | upper}}</td>
                                          <td>{{ etudiants.etud.status | upper}}</td>
                                          <td>{{ etudiants.etud.classe | upper}} {{ etudiants.etud.filieres | upper}}</td>

                                      
                                          <td class="ms-4">
                                            {{etudiants.etud.dateNaissance|date('d-m-Y')}}
                                          </td>

                                          <td class="ms-4">
                                              <div class="form-group">
                                                  <input type="number" class="form-control"  name="noteEtudiant" id="{{ etudiants.id }}" placeholder="Donner une note">
                                              </div>
                                          </td>
                                      </tr>
                              
                                  {% endfor %}
                                  

                                  
                                  
                              </tbody>
                            </table>
                          </td>
                        </tr>
                
                      </tbody>
                    </table>
                  
                </div>

                 <div class="form-group text-center">
                    <button type="submit" class="btn btn-primary">Valider</button>
                 </div>

           {{form_end(form)}} 
            </div>

    </div>

  </div>

  

  </div>
</body>
</html>

{% include 'home/footer.html.twig' %}



