<!DOCTYPE html>
<html lang="fr">
{% include 'home/head.html.twig' %}

<body class="hold-transition sidebar-mini layout-fixed">
<div class="wrapper">

  {% include 'home/navbar.html.twig' %}

   <div class="py-3 px-5">

       {% include 'configuration/messageFlash.html.twig' %}


   <div class="card border-info" >
        <div class="card-header">
            <div class="row">
                    <h2 class="h3">
                         AJOUTER UNE NOTE INDIVIDUELLE
                    </h2>
            </div>    
        </div>
            <div class="card-body">
                 {{form_start(form)}}
                <div class="row alert alert-info">

                    <h4 class="text-light">Ajout de Note de  {{ etudiant.nom | upper }}  {{ etudiant.prenoms | upper}} {{ classe.codeClasse }} pour l'année {{etudiant.anneeScolaire}}</h4>
                </div>
               
                <div class="row mt-4">
                  <div class="container w-60">
                        <div class="form-row">
                            <div class="form-group mr-4">
                                {{ form_row(form.classe, {'attr': {'value': classe.codeClasse}}) }}
                            </div>
                            <div class="form-group mr-4">
                                {{ form_row(form.etudiant, {'attr': {'value': etudiant.matricule}}) }}
                            </div>
                            <div class="form-group mr-4">
                                {{ form_row(form.anneeScolaire, {'attr': {'value': etudiant.anneeScolaire}}) }}
                            </div>
                        </div>

                  </div>
                </div>

                <div class="row mt-3">
                  <div class="container w-60">
                     
                          <div class="form-group">
                              {{ form_row(form.semestre) }}
                          </div>
                          <div class="form-group">
                              {{ form_row(form.coefficient) }}
                          </div>

                          <div class="form-group">
                              {{ form_row(form.matiere) }}
                          </div>

                          <div class="form-group">
                              {{ form_row(form.noteEtudiant) }}
                          </div>

                          <div class="form-group">
                              <button type="submit" class="btn btn-primary">Valider</button>
                          </div>

                     
                  </div>
                </div>
             {{form_end(form)}}
                
            </div>
    </div>

  </div>

  

  </div>
</body>
</html>

{% include 'home/footer.html.twig' %}



