<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Connexion|AGITEL-FORMATION</title>
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'>
	<link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'>
	<link rel="stylesheet" href="./style.css">
	<link rel="stylesheet" href="{{ asset ('dist/css/style.css') }}">

	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="author" content="Ismael Jr C.">
	<style>
		body{
			margin: 0;
			padding: 0;
			height: 100vh;
			width: 100%;
			background-image: url(dist/img/img1.jpeg);
			background-size: cover;
			background-position: center;
			background-repeat: no-repeat;
			transition: 5s;

			animation-name: animate;
			animation-direction: alternate-reverse;
			animation-duration: 30s;
			animation-fill-mode: forwards;
			animation-iteration-count: infinite;
			animation-play-state: running;
			animation-timing-function: ease-in-out;
		}
		

	</style>
</head>
<body>
	<!-- Main Content -->
	<div class="container-fluid">
		<div class="row main-content bg-success text-center">
			<div class="col-md-4 text-center company__info">
				<span class="company__logo"> <img src=" dist/img/agitel3.png" alt="" height="200" width="250"> </span>
				<h4 class="company_title">Gestion Etudiants <br> BTS & DTS <br> AGITEL-FORMATION</h4>
			</div>
			<div class="col-md-8 col-xs-12 col-sm-12 login_form ">
				<div class="container-fluid">
					<div class="row">
						<h2 class="h3 mb-3 font-weight-normal">AGITEL - FORMATION  <img class="direct-chat-img" src="dist/img/logo-tete.jpg" alt="" height="100" width="100"></h2>
					</div>

					<div class="row">
						{% if error %}
							<div class="alert alert-danger">Nom d'utilisateur ou mot de passe invalide</div>
						{% endif %}
				
						{% if app.user %}
							<div class="mb-3">
								Vous êtes connecté en tant que {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}"> Déconnexion </a>
							</div>
						{% endif %}
					</div>

					<div class="row">
						<form method="post" control="" class="form-group">
							<div class="row">
								<input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control" autocomplete="username" required autofocus placeholder="username">
							</div>
							<div class="row">
								<!-- <span class="fa fa-lock"></span> -->
								<input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required placeholder="Mot de passe">

								<input type="hidden" name="_csrf_token"
									value="{{ csrf_token('authenticate') }}"
								>
							</div>
							<div class="row">
								<button class="bouton" type="submit">
									Se connecter
								</button>
							</div>
						</form>
					</div>
					
				</div>
			</div>
		</div>
	</div>
	<!-- Footer -->
	
</body>
<!-- partial -->
  
</body>
</html>
