<!DOCTYPE html>
<html lang="fr">
{% include 'home/head.html.twig' %}

<body class="hold-transition sidebar-mini layout-fixed">
<div class="wrapper">

  {% include 'home/navbar.html.twig' %}

   <div class="container">

       {% include 'configuration/messageFlash.html.twig' %}


   <div class="card" >
        <div class="card-header">

           <div class="row">

                <div class="col-md-2">
                    <a href="" class="h2">
                        <i class="fa fa-arrow-circle-left" aria-hidden="true"></i>
                    </a>
                </div>
                <div class="col-md-5">
                    <h3 class="h3">
                        INSERTION DE NOTES
                    </h3>
                </div> 
 
            </div> 
            
        </div>
        <div class="card-body">
            <div class="container">
                {{form_start(form)}}
                <div class="row mb-2">
                    <div class="col-md-6">
                        <h2 class="text-info">Classe</h2>
                        {{classe.denomination}} {{classe.filiere}}
                    </div>

                    <div class="col-md-6">
                        <div>
                            {{form_row(form.semestre)}}
                        </div>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-md-6">
                        <h2 class="text-info">Matière</h2>
                        {{matiere.denomination}}
                    </div>

                    <div class="col-md-6">
                        <div>
                            {{form_row(form.coefficient)}}
                            
                        </div>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-md-6">
                        <h2 class="text-info">Professeur</h2>
                        {{matiere.prof}}
                    </div>
                </div>

                <div class="row">
                        <table class="table table-hover">
                            <thead class="thead-dark">

                                <tr>
                                    <th scope="col">Matricule</th>
                                    <th scope="col">Nom</th>
                                    <th scope="col">Prénoms</th>
                                    <th scope="col">Notes</th>
                                </tr>

                            </thead>
                            <tbody>
                            {% for note in note %}
                                <tr>
                                    <th>{{ note.etud.matricule | upper}}</th>
                                    <td>{{ note.etud.nom | upper}}</td>
                                    <td>{{ note.etud.prenoms | upper}}</td>
                                    <td>
                                        <div class="form-group">
                                            
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>

                {{form_end(form)}}
            </div> 

        </div>
    </div>

  </div>

  

  </div>
</body>
</html>

{% include 'home/footer.html.twig' %}





