 <a class=" {{btn}}" href="#" data-toggle="modal" data-target="#classeModal">
    {{button}}
</a>

<div class="modal fade" id="classeModal" aria-hidden="true" aria-labelledby="classeModalLabel" tabindex="-1">
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        {% if button == 'Liste de la classe' and btn == 'btn btn-warning' %}
            <h5 class="modal-title" id="classeModalLabel">{{messagesClasse}}</h5>
        {% endif %}
        <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">

        {% if button == 'Liste de la classe' %}

            {% if app.request.method == 'POST' %}
     
                <div class= "container">
                    {% if detail | length == 0 %}

                    <div class="row text-center">
                        <h3>Aucun résultat pour votre recherche</h3>
                    </div>

                    {% else %}

                    <div class="row">
                        <table class="table table-hover">
                            <thead class="thead-dark">

                                <tr>
                                    <th scope="col">Matricule</th>
                                    <th scope="col">Nom</th>
                                    <th scope="col">Prénoms</th>
                                    <th scope="col">Nationalité</th>
                                    <th scope="col">Sexe</th>
                                    <th scope="col">Photo</th>
                                    <th scope="col">Examen Preparé</th>
                                </tr>

                            </thead>
                            <tbody>
                            {% for detail in detail %}
                                <tr>
                                    <th>{{ detail.etud.matricule | upper}}</th>
                                    <td>{{ detail.etud.nom | upper}}</td>
                                    <td>{{ detail.etud.prenoms | upper}}</td>
                                    <td>{{ detail.etud.nationalite | upper}}</td>
                                    <td>{{ detail.etud.sexe | upper}}</td>
                                    <td><img src="{{ vich_uploader_asset(detail.etud, 'imageFile') }}" height="35" width="35" class="img-circle"></td>
                                    <td>{{ detail.etud.examenPrepare | upper}}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>

                    {% endif %}

                </div>
            {% endif %}


        {% endif %}

      </div>

     
    </div>
  </div>
</div>

