<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <title>Titre de la page</title>
  <link rel="stylesheet" href="style.css">
  <style>

    .table1{
        margin: auto;
        width: 55%;
        font-size: 12px;
    }



    caption{
        margin-left: 35%; 
        margin-top: 8%; 
        margin-right: 35%; 
        border: 2px solid skyblue;
        border-collapse: collapse;
        padding: 2px;
    }

.note{
    margin: auto;
    border-collapse: collapse;
    width: 85%;
}

 .entete, .titre, .contenu, .fin  {
        border: 1px solid black;
}

.entete, .titre, .fin{
    font-size: 12px;
}

.titre{
    text-align: left;
}



.contenu{
    font-size: 12px;
}

.coeff{
    text-align: center;
}

.observation{
    margin: auto;
    width: 100%;
    text-align : center;
    padding : 3px;
}


.obs-td{
    text-decoration: underline;
}

.nb{
    font-size: 12px;
    text-align: center;
}
 

</style>


</head>
<body>

    <table class="table1">
  
        <caption>PREMIER SEMESTRE</caption>

        <tr> 
            <td class="left"> <span>ANNEE SCOLAIRE : {{ anneeActive }} </span></td>  
            <td class="right"> <span>{{ 'now' | date('d/m/Y h:i') }} </span></td> 
        </tr>

    </table>
    <table class="table1">

        <tr> 
            <td>CLASSE : {{ classe.denomination | upper }}</td> 
        </tr>

    </table>

    <table class="table1">

        <tr> 
            <td>NOM & PRENOMS : {{ etudiant.nom|upper}} {{ etudiant.prenoms|upper}}</td> 
            <td class="right"> <span>MATRICULE : {{ etudiant.matricule }} </span></td> 
        </tr>

    </table>

    <table class="table1">
  
        <tr> 
            <td class="left"> <span>DATE DE NAISSANCE : {{ etudiant.dateNaissance|date('d/m/Y') }} </span></td>  
            <td class="right"> <span>LIEU DE NAISSANCE : {{ etudiant.lieuNaissance | upper }} </span></td> 
        </tr>

    </table>

    <table class="note">
  
        <tr> 
            <th class="entete"> MATIERES </th>  
            <th class="entete"> MOY, <br>/20 </th> 
            <th class="entete"> COEFF</th> 
            <th class="entete"> MOY AVEC <br>COEFF </th> 
            <th class="entete"> NOM DU PROFESSEUR </th> 
            <th class="entete"> APPRECIATIONS DES PROFESSEURS </th> 
        </tr>
        
        <tr> 
            <th class="titre"> MATIERES GENERALES </th>  
            <th class="titre"> </th> 
            <th class="titre"> </th> 
            <th class="titre">  </th> 
            <th class="titre">  </th> 
            <th class="titre">  </th> 
        </tr>
        <tr> 
            
            
                <td class="contenu"> 

                    {% for listeMat in listeMat %}

                        {% if listeMat.TypeMatiere == "MATIERES GENERALES" %}

                            {{listeMat.denomination | upper }}<br>

                        {% endif %}

                    {% endfor %}

                </td>  
                <td class="contenu coeff">

                    {% for listeMat in listeMat %}
                        
                        {% set moyGen = 0 %}
                        {% for matGen in matGen %}

                            {% if listeMat.denomination == matGen.matiere.denomination %}

                                {% set moyGen = matGen.moyenne %} 

                            {% endif %}
    
                        {% endfor %}

                         {% if moyGen == 0 %}

                            {% if listeMat.TypeMatiere == "MATIERES GENERALES" %}

                                00.00<br>

                            {% endif %}

                        {% else %}

                            {{moyGen | number_format(2) }} <br>

                        {% endif %}


                    {% endfor %}
                    
                </td> 
                <td class="contenu coeff">

                    {% for listeMat in listeMat %}

                        {% if listeMat.TypeMatiere == "MATIERES GENERALES" %}

                            {{listeMat.coefficient | number_format(2) }}<br>

                        {% endif %}

                    {% endfor %}

                </td> 
                <td class="contenu coeff">

                    {% for listeMat in listeMat %}

                        {% set moyAvecCoefGen = 0 %}
                        {% for matGen in matGen %}

                            {% if listeMat.denomination == matGen.matiere.denomination %}

                                {% set moyAvecCoefGen = (matGen.moyenne * matGen.matiere.coefficient) %}

                            {% endif %}
    
                        {% endfor %}

                        {% if moyAvecCoefGen == 0 %}

                            {% if listeMat.TypeMatiere == "MATIERES GENERALES" %}

                                00.00<br>

                            {% endif %}

                        {% else %}

                            {{moyAvecCoefGen | number_format(2) }} <br>

                        {% endif %}

                    {% endfor %}
                
                </td> 
                <td class="contenu">

                    {% for listeMat in listeMat %}

                        {% if listeMat.TypeMatiere == "MATIERES GENERALES" %}

                            {{listeMat.prof }}<br>

                        {% endif %}

                    {% endfor %}


                </td> 
                <td class="contenu">
                    {% for matGen in matGen %}
                        
                        {% if matGen.moyenne == 0 and matGen.moyenne <= 7 %}
                                BLAME <br>
                        {% elseif matGen.moyenne > 7 and matGen.moyenne < 10 %}
                                INSUFFISANT <br>
                        {% elseif matGen.moyenne >= 10 and matGen.moyenne < 12 %}
                                PASSABLE <br>
                        {% elseif matGen.moyenne >= 12 and matGen.moyenne < 14 %}
                                ASSEZ-BIEN <br>
                        {% elseif matGen.moyenne >= 14 and matGen.moyenne < 16 %}
                                BIEN <br>
                        {% elseif matGen.moyenne >= 16 and matGen.moyenne < 18 %}
                                TRES-BIEN <br>
                        {% elseif matGen.moyenne >= 18 and matGen.moyenne < 20 %}
                                EXCELLENT <br>
                        {% elseif moyGen == 0 %}
                            BLAME <br>
                        {% endif %}
                    {% endfor %}
                </td> 
          
            
        </tr>
        <tr> 
            
            <th class="titre"> MOYENNE DES MATIERES GENERALES </th>  
            <th class="fin"> </th> 

            <th class="fin"> 

                {% set somCoeffMatGen = 0 %}

                {% for listeMat in listeMat %}

                    {% if listeMat.TypeMatiere == "MATIERES GENERALES" %}

                        {% set somCoeffMatGen = (somCoeffMatGen + listeMat.coefficient) %}

                    {% endif %}

                {% endfor %}

                {{ somCoeffMatGen | number_format(2) }}

            </th> 


            <th class="fin">  

                    {% set somMoyMatGen = 0 %}

                    {% for listeMat in listeMat %}

                        {% set SomMoyAvecCoefGen = 0 %}

                        {% for matGen in matGen %}

                            {% if listeMat.denomination == matGen.matiere.denomination %}

                                {% set SomMoyAvecCoefGen = SomMoyAvecCoefGen + (matGen.moyenne * matGen.matiere.coefficient) %}

                            {% endif %}
    
                        {% endfor %}

                        {% set somMoyMatGen = SomMoyAvecCoefGen %}


                    {% endfor %}

                {{ somMoyMatGen | number_format(2) }}

            </th> 
            <th class="fin">  
                 Moyenne : 
                
                {% if somCoeffMatGen == 0 %}
                    00.00
                {% else %}
                    {{ (somMoyMatGen / somCoeffMatGen) | number_format(3)}}
                {% endif %}
                 
            </th> 
            <th class="fin">  </th> 
        </tr>


        <tr> 
            <th class="titre"> MATIERES PROFESSIONNELLES </th>  
            <th class="titre"> </th> 
            <th class="titre"> </th> 
            <th class="titre">  </th> 
            <th class="titre">  </th> 
            <th class="titre">  </th> 
        </tr>
        <tr> 
            
            
                <td class="contenu"> 

                    {% for listeMat in listeMat %}

                        {% if listeMat.TypeMatiere == "MATIERES PROFESSIONNELLES" %}

                            {{listeMat.denomination | upper }}<br>

                        {% endif %}

                    {% endfor %}

                </td>  
                <td class="contenu coeff">

                    {% for listeMat in listeMat %}

                        {% set moy = 0 %}

                        {% for matProfs in matProfs %}

                            {% if listeMat.denomination == matProfs.matiere.denomination %}

                                 {% set moy =  matProfs.moyenne %} 

                            {% endif %}
    
                        {% endfor %}

                        {% if moy == 0 %}

                            {% if listeMat.TypeMatiere == "MATIERES PROFESSIONNELLES" %}

                                00.00<br>

                            {% endif %}

                        {% else %}

                            {{moy | number_format(2) }} <br>

                        {% endif %}

                    {% endfor %}

                </td> 
                <td class="contenu coeff">

                    {% for listeMat in listeMat %}

                        {% if listeMat.TypeMatiere == "MATIERES PROFESSIONNELLES" %}

                            {{listeMat.coefficient | number_format(2) }}<br>

                        {% endif %}

                    {% endfor %}

                </td> 
                <td class="contenu coeff">

                    {% for listeMat in listeMat %}

                        {% set moyAvecCoef = 0 %}

                        {% for matProfs in matProfs %}

                            {% if listeMat.denomination == matProfs.matiere.denomination %}

                                 {% set moyAvecCoef = (matProfs.moyenne * matProfs.matiere.coefficient) %}

                            {% endif %}
    
                        {% endfor %}

                        {% if moyAvecCoef == 0 %}

                            {% if listeMat.TypeMatiere == "MATIERES PROFESSIONNELLES" %}

                                00.00<br>

                            {% endif %}

                        {% else %}

                            {{moyAvecCoef | number_format(2) }} <br>

                        {% endif %}

                    {% endfor %}

                </td> 
                <td class="contenu">

                    {% for listeMat in listeMat %}

                        {% if listeMat.TypeMatiere == "MATIERES PROFESSIONNELLES" %}

                            {{listeMat.prof}}<br>

                        {% endif %}

                    {% endfor %}


                </td> 
                <td class="contenu">
                    {% for matProfs in matProfs %}
                        
                        {% if matProfs.moyenne == 0 and matProfs.moyenne <= 7 %}
                                BLAME <br>
                        {% elseif matProfs.moyenne > 7 and matProfs.moyenne < 10 %}
                                INSUFFISANT <br>
                        {% elseif matProfs.moyenne >= 10 and matProfs.moyenne < 12 %}
                                PASSABLE <br>
                        {% elseif matProfs.moyenne >= 12 and matProfs.moyenne < 14 %}
                                ASSEZ-BIEN <br>
                        {% elseif matProfs.moyenne >= 14 and matProfs.moyenne < 16 %}
                                BIEN <br>
                        {% elseif matProfs.moyenne >= 16 and matProfs.moyenne < 18 %}
                                TRES-BIEN <br>
                        {% elseif matProfs.moyenne >= 18 and matProfs.moyenne <= 20 %}
                                EXCELLENT <br>
                        {% else %}
                            BLAME <br>
                        {% endif %}
                    {% endfor %}
                </td> 
          
            
        </tr>
        <tr> 
            <th class="titre"> MOYENNE DES MATIERES PROFESSIONNELLES </th> 
            <th class="fin"> </th> 

            <th class="fin"> 

                {% set somCoeffmatProfs = 0 %}

                {% for listeMat in listeMat %}

                    {% if listeMat.TypeMatiere == "MATIERES PROFESSIONNELLES" %}

                        {% set somCoeffmatProfs = somCoeffmatProfs + listeMat.coefficient %}

                    {% endif %}

                {% endfor %}
               
                {{ somCoeffmatProfs | number_format(2) }}

            </th> 
            <th class="fin">  

                {% set somMoymatProfs = 0 %}

                    {% for listeMat in listeMat %}

                        {% set SomMoyAvecCoefMatProf = 0 %}

                        {% for matProfs in matProfs %}

                            {% if listeMat.denomination == matProfs.matiere.denomination %}

                                {% set SomMoyAvecCoefMatProf = SomMoyAvecCoefMatProf + (matProfs.moyenne * matProfs.matiere.coefficient) %}

                            {% endif %}
    
                        {% endfor %}

                        {% set somMoymatProfs = SomMoyAvecCoefMatProf %}


                    {% endfor %}

                {{ somMoymatProfs | number_format(2) }}
               


            </th> 
            <th class="fin">  

                 Moyenne : 

                {% if somCoeffmatProfs == 0 %}
                    00.00
                {% else %}
                 
                    {{ (somMoymatProfs / somCoeffmatProfs) | number_format(3)}}

                {% endif %}

            </th>  
            <th class="fin">  </th> 
        </tr>

        <tr> 
            <th class="titre">TOTAUX </th> 
            <th class="fin"> </th> 

            <th class="fin"> 
               
                {{ (somCoeffmatProfs + somCoeffMatGen) | number_format(2) }}
            </th> 
            <th class="fin">  
               
                {{ (somMoymatProfs + somMoyMatGen) | number_format(2) }}
            </th> 
            <th class="fin">  </th>  
            <th class="fin">  </th> 
        </tr>

        <tr> 
            <th class="titre">MOYENNE PREMIER SEMESTRE </th> 
            <th class="fin"> 
                {% set  moyGen = 0 %}
                {% if somCoeffmatProfs == 0 and somCoeffMatGen == 0 %}
                    00.00
                {% else %}
                 
                    {% set  moyGen = ( ((somMoymatProfs / somCoeffmatProfs) + (somMoyMatGen / somCoeffMatGen)) / 2 ) %}

                    {{ moyGen  | number_format(3) }}

                {% endif %}

                 
            </th> 

            <th class="fin" colspan="2">
                CLASSEMENT : 
                {% for cle, notes in notes %}

                    {% if notes.matricule == etudiant.matricule and notes.classe == etudiant.classe and notes.anneeScolaire == anneeActive %}

                        {% if moyGen == 0 %}
                            
                        {% else %}
                           
                           {% if cle == 1 and etudiant.sexe == "Femme" %}
                                {{cle}} ère 
                            {% elseif cle == 1 and etudiant.sexe == "Homme" %}
                                {{cle}} er 
                            {% else %}
                                {{cle}} ième
                            {% endif %}

                        {% endif %}

                    {% endif %}

                {% endfor %}
            </th> 
            
            <th class="fin">  
                
            </th>  
            <th class="fin">  
               
            </th> 
        </tr>

        <tr> 
            <th class="fin" colspan="6">

                <table class="observation" cellpadding="15">
                    <tr>
                        <td class="obs-td">OBSERVATIONS EVENTUELLES</td>
                        <td class="obs-td">AVIS DU CONSEIL DE CLASSE</td>
                        <td class="obs-td">DIRECTEUR D'INSTITUT {{ directeur.filiere.codeFiliere }}</td>
                    </tr>

                    <tr>
                        <th>
                            {% set moy = 0 %}

                            {% if somCoeffmatProfs == 0 or  somCoeffMatGen == 0 %}
                                {% set moy = 0 %}
                            {% else %}
                                {% set moy = ( ((somMoymatProfs / somCoeffmatProfs) + (somMoyMatGen / somCoeffMatGen)) / 2 )  | number_format(3) %}
                            {% endif %}

                            {% if moy >=0 and moy <= 7 %}
                                BLAME <br>
                            {% elseif moy > 7 and moy < 10 %}
                                INSUFFISANT <br>
                            {% elseif moy >= 10 and moy < 12 %}
                                PASSABLE <br>
                            {% elseif moy >= 12 and moy < 14 %}
                                ASSEZ-BIEN <br>
                            {% elseif moy >= 14 and moy < 16 %}
                                BIEN <br>
                            {% elseif moy >= 16 and moy < 18 %}
                                TRES-BIEN <br>
                            {% elseif moy >= 18 and moy <= 20 %}
                                EXCELLENT 
                            {% endif %}
                        </th>
                        <th></th>
                        <th>
                            {{directeur.filiere.directeur}}
                        </th>
                    </tr>
                </table>
                 
            </th> 
            
        </tr>

    </table>
    <p class="nb"><strong>NB </strong>: Veuillez conserver l'original de ce relevé de notes (bulletin) qui vous sera exigé lors de votre réinscription à la rentrée *** Aucun duplicata ne sera délivré.</p>

</body>
</html>