<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <title>Titre de la page</title>
  <link rel="stylesheet" href="style.css">
  <style>

    .table1{
        margin: auto;
        width: 70%;
    }


    caption{
        margin-left: 25%; 
        margin-right: 25%; 
        margin-bottom: 5%;
        border: 2px solid skyblue;
        border-collapse: collapse;
        padding: 8px;
    }

.note{
    border-collapse: collapse;
    width: 100%;
}

 .entete, .titre, .contenu, .fin  {
        border: 1px solid black;
}

.entete, .titre, .fin{
    font-size: 13px;
}



.contenu{
    font-size: 13px;
}

.coeff{
    text-align: center;
}




    

  </style>
</head>
<body>

    <table class="table1">
  
        <caption>PREMIER SEMESTRE</caption>

        <tr> 
            <td class="left"> <span>Annéee Scolaire : {{ anneeActive }} </span></td>  
            <td class="right"> <span>Matricule : {{ etudiant.matricule }} </span></td> 
        </tr>

    </table>

    <table class="table1">

        <tr> 
            <td>Classe : {{ classe.codeClasse}}</td> 
        </tr>
        <tr> 
            <td>Nom & Prénoms : {{ etudiant.nom|upper}} {{ etudiant.prenoms|upper}}</td> 
        </tr>

    </table>

    <table class="table1">
  
        <tr> 
            <td class="left"> <span>Date de naissance : {{ etudiant.dateNaissance|date('d/m/Y') }} </span></td>  
            <td class="right"> <span>Lieu de naissance : {{ etudiant.lieuNaissance }} </span></td> 
        </tr>

    </table>

    <table class="note">
  
        <tr> 
            <th class="entete"> MATIERES </th>  
            <th class="entete"> MOY, <br>/20 </th> 
            <th class="entete"> COEFF</th> 
            <th class="entete"> MOY AVEC <br>COEFF </th> 
            <th class="entete"> NOM DU PROFESSEUR </th> 
            <th class="entete"> APPRECIATIONS DES PROFESSEURS </th> 
        </tr>
        
        <tr> 
            <th class="titre"> MATIERES GENERALES </th>  
            <th class="titre"> </th> 
            <th class="titre"> </th> 
            <th class="titre">  </th> 
            <th class="titre">  </th> 
            <th class="titre">  </th> 
        </tr>
        <tr> 
            
            
                <td class="contenu"> 
                    {% for matGen in matGen %}
                        {{ matGen.matiere.denomination | upper}} </br>
                    {% endfor %}
                </td>  
                <td class="contenu coeff">
                    {% for matGen in matGen %}
                        {{ matGen.moyenne | number_format(2) }} <br>
                    {% endfor %}
                </td> 
                <td class="contenu coeff">
                    {% for matGen in matGen %} 
                        {{ matGen.matiere.coefficient | number_format(2) }} <br>
                    {% endfor %}
                </td> 
                <td class="contenu coeff">
                    {% for matGen in matGen %}
                        {{ (matGen.moyenne * matGen.matiere.coefficient) | number_format(2) }} <br>
                    {% endfor %}
                </td> 
                <td class="contenu">
                    {% for matGen in matGen %}
                        {{ matGen.matiere.prof }} <br>
                    {% endfor %}
                </td> 
                <td class="contenu">
                    {% for matGen in matGen %}
                        {% if matGen.moyenne >=0 and matGen.moyenne <= 7 %}
                                BLAME <br>
                        {% elseif matGen.moyenne > 7 and matGen.moyenne < 10 %}
                                INSUFFISANT <br>
                        {% elseif matGen.moyenne >= 10 and matGen.moyenne < 12 %}
                                PASSABLE <br>
                        {% elseif matGen.moyenne >= 12 and matGen.moyenne < 14 %}
                                ASSEZ-BIEN <br>
                        {% elseif matGen.moyenne >= 14 and matGen.moyenne < 16 %}
                                BIEN <br>
                        {% elseif matGen.moyenne >= 16 and matGen.moyenne < 18 %}
                                TRES-BIEN <br>
                        {% elseif matGen.moyenne >= 18 and matGen.moyenne < 20 %}
                                EXCELLENT <br>
                        {% endif %}
                    {% endfor %}
                </td> 
          
            
        </tr>
        <tr> 
            
            <th class="fin"> MOYENNE DES MATIERES GENERALES </th>  
            <th class="fin"> </th> 

            <th class="fin"> 
                {{ somCoeffMatGen | number_format(2) }}
            </th> 


            <th class="fin">  
                {{ somMoyMatGen | number_format(2) }}
            </th> 
            <th class="fin">  
                 Moyenne : {{ (somMoyMatGen / somCoeffMatGen) | number_format(3)}}
            </th> 
            <th class="fin">  </th> 
        </tr>


        <tr> 
            <th class="titre"> MATIERES PROFESSIONNELLES </th>  
            <th class="titre"> </th> 
            <th class="titre"> </th> 
            <th class="titre">  </th> 
            <th class="titre">  </th> 
            <th class="titre">  </th> 
        </tr>
        <tr> 
            
            
                <td class="contenu"> 
                    {% for matProfs in matProfs %}
                        {{ matProfs.matiere.denomination }} </br>
                    {% endfor %}
                </td>  
                <td class="contenu coeff">
                    {% for matProfs in matProfs %}
                        {{ matProfs.moyenne | number_format(2) }} <br>
                    {% endfor %}
                </td> 
                <td class="contenu coeff">
                    {% for matProfs in matProfs %} 
                        {{ matProfs.matiere.coefficient | number_format(2)}} <br>
                    {% endfor %}
                </td> 
                <td class="contenu coeff">
                    {% for matProfs in matProfs %}
                        {{ (matProfs.moyenne * matProfs.matiere.coefficient) | number_format(2)}} <br>
                    {% endfor %}
                </td> 
                <td class="contenu">
                    {% for matProfs in matProfs %}
                        {{ matProfs.matiere.prof }} <br>
                    {% endfor %}
                </td> 
                <td class="contenu">
                    {% for matProfs in matProfs %}
                        {% if matProfs.moyenne >=0 and matProfs.moyenne <= 7 %}
                                BLAME <br>
                        {% elseif matProfs.moyenne > 7 and matProfs.moyenne < 10 %}
                                INSUFFISANT <br>
                        {% elseif matProfs.moyenne >= 10 and matProfs.moyenne < 12 %}
                                PASSABLE <br>
                        {% elseif matProfs.moyenne >= 12 and matProfs.moyenne < 14 %}
                                ASSEZ-BIEN <br>
                        {% elseif matProfs.moyenne >= 14 and matProfs.moyenne < 16 %}
                                BIEN <br>
                        {% elseif matProfs.moyenne >= 16 and matProfs.moyenne < 18 %}
                                TRES-BIEN <br>
                        {% elseif matProfs.moyenne >= 18 and matProfs.moyenne < 20 %}
                                EXCELLENT <br>
                        {% endif %}
                    {% endfor %}
                </td> 
          
            
        </tr>
        <tr> 
            <th class="fin"> MOYENNE DES MATIERES PROFESSIONNELLES </th> 
            <th class="fin"> </th> 

            <th class="fin"> 
               
                {{ somCoeffmatProfs | number_format(2) }}
            </th> 
            <th class="fin">  
               
                {{ somMoymatProfs | number_format(2) }}
            </th> 
            <th class="fin">  

                 Moyenne : {{ (somMoymatProfs / somCoeffmatProfs) | number_format(3)}}

            </th>  
            <th class="fin">  </th> 
        </tr>

        <tr> 
            <th class="fin">TOTAUX </th> 
            <th class="fin"> </th> 

            <th class="fin"> 
               
                {{ (somCoeffmatProfs + somCoeffMatGen) | number_format(2) }}
            </th> 
            <th class="fin">  
               
                {{ (somMoymatProfs + somMoyMatGen) | number_format(2) }}
            </th> 
            <th class="fin">  </th>  
            <th class="fin">  </th> 
        </tr>

        <tr> 
            <th class="fin">MOYENNE PREMIER SEMESTRE </th> 
            <th class="fin"> 

                {{ ( ((somMoymatProfs / somCoeffmatProfs) + (somMoyMatGen / somCoeffMatGen)) / 2 )  | number_format(3) }} 
            </th> 

            <th class="fin">CLASSEMENT </th> 
            <th class="fin">

                

                {% for etudiantClasse in etudiantClasse %}

                    {% if etudiantClasse.matricule == etudiant.matricule and etudiantClasse.classe == etudiant.classe and etudiant.anneeScolaire == anneeActive %}
                    
                            {% for notes in notes %}
                                {{notes}}
                            {% endfor %}
                          
                    {% endif %}

                {% endfor %}

            </th> 
            <th class="fin">  </th>  
            <th class="fin">  </th> 
        </tr>

    </table>

</body>
</html>