<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>Impression de Bulletin</title>

    <style>

        .semestre{

        }

        .sem{
             border: 1 solid black;
             text-align: center;
        }

        .td1{
          width: 600px;
          text-align: center;
 
        }
        .td2{
          width: 400px;
        }

        .tab1{
            font-size: 12px;
            line-height: 1.5em;
        }

        .debut{
          width: 100px;
          text-align: justify;
        }
        .milieu{
          width: 600px;
        }
        .fin{
          width: 300px;
        }

        strong{
            padding-left: 25px;
            text-align: center;
            font-size: 12px;
        }

        span{
          text-align: center;
        }

        .table{
          border-collapse: collapse;
          width: 100%;
        }

       .table th{
          border: 1px solid black;
          padding: 8px;
       }
       .table td{
          border: 1px solid black;
          font-size: 12px;

       }

       .table .td{
          text-align: center;
       }

     
       


    </style>
  </head>
  <body>

    <div class="contenant">
         <table class="semestre">

              <tr>
                   <td class="td1">
                     <strong class="sem">PREMIER SEMESTRE</strong> <br>
                   </td>               
                   <td class="td2">
                      {{ 'now'|date('d/m/Y h:i') }}
                   </td>               
              </tr>

        </table>

        <table class="tab1">

              <tr>
                    <td class="debut">
                    
                   </td> 

                   <td class="milieu">

                     <span>ANNEE SCOLAIRE : </span> <strong>{{ annees.AnneeScolaire  | upper }} </strong> <br>
                     <span>EXAMEN PREPARE : </span><strong>{{ etudiant.examenPrepare | upper  }} </strong> <br>
                     <span>CLASSE : </span> <strong>{{ etudiant.classe  | upper  }} {{ etudiant.filieres | upper }} </strong> <br>
                     <span>NOM ET PRENOMS : </span> <strong>{{ etudiant.nom | upper }} {{ etudiant.prenoms | upper }} </strong> <br>
                     <span>DATE DE NAISSANCE : </span> <strong>{{ etudiant.dateNaissance | date('d/m/Y') }}</strong>

                   </td>               
                   <td class="fin">
                        <span>MATRICULE : </span> <strong>{{ etudiant.matricule  | upper }} </strong> <br>
                        <span>LIEU DE NAISSANCE : </span> <strong>{{ etudiant.lieuNaissance | upper }}</strong>
                   </td>               
              </tr>

        </table>


        <table class="table table-hover">
          <thead class="thead-dark">
               <tr class="ligneBull">
                  <th scope="col">MATIERES</th>
                  <th scope="col">MOY/20</th>
                  <th scope="col">COEFF</th>
                  <th scope="col">MOY AVEC COEFF</th>
                  <th scope="col">NOM DU PROFESSEUR</th>
                  <th scope="col">APPRECIATION DES PROFESSEURS</th>
                 
              </tr>
          </thead>
          <tbody>
            {% for MG in noteEtudiantMG %}
            <tr>
              
                <td>
                  {{ MG.note.matiere }}
                </td>
                <td class="td">
                  {{ MG.note.noteEtudiant}}
                </td>
                <td class="td">
                  {{ MG.note.coefficient}}
                </td>
                <td class="td">
                  {{ (MG.note.noteEtudiant * MG.note.coefficient) }}
                </td>
                <td class="td">
                  {{ MG.note.matiere.prof }}
                </td>
                <td class="td">
                  {% if MG.note.noteEtudiant >= 10 and MG.note.noteEtudiant < 14 %}
                    ASSEZ-BIEN 
                  {% elseif MG.note.noteEtudiant >= 14 and MG.note.noteEtudiant < 16 %}
                    BIEN
                  {% elseif MG.note.noteEtudiant >= 16 and MG.note.noteEtudiant < 18 %}
                    TRES-BIEN
                  {% elseif MG.note.noteEtudiant >= 18 and MG.note.noteEtudiant <= 20 %}
                    EXCELLENT
                  {% else %}
                    AJOURNE
                  {% endif %}
                </td>
             
            </tr> 
             {% endfor %}  
              <tr>
              
                <td>
                    MOYENNE DES MATIERES GENERALES
                </td>
                <td>
                 
                </td>
                <td>

                </td>
                <td>
                  
                </td>
                <td>
                  
                </td>
                <td>
                  
                </td>
             
            </tr>     
          </tbody>
        </table>

       
    </div>
    


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  </body>
</html>




