<!DOCTYPE html>
<html lang="fr">
{% include 'home/head.html.twig' %}

<body class="hold-transition sidebar-mini layout-fixed">
<div class="wrapper">

  {% include 'home/navbar.html.twig' %}

   <div class="container">

     {% include 'configuration/messageFlash.html.twig' %}


   <div class="card border-info " style="max-width: 80rem;">
        <div class="card-header">
            <div class="row">
                <div class="col-md-6">
                    <h3 class="h3">
                        IMPRESSION DES BULLETINS PAR CLASSE
                    </h3>
                </div>
                
            </div>
           
            
        </div>
            <div class="card-body">
                    <div class="row">
                        <div class="col-md-8 ">
                        <h4 class="text-success">Veuillez selectionner la classe d'abord !</h4>
                        </div>
                        <div class="col-md-4">
                            {{form_start(form)}}
                                <div class="form-row">
                                    <div class="form-group mr-3">
                                        {{ form_widget(form.codeClasse) }}
                                    </div>
                                    <div class="form-group">
                                        <button class="btn btn-primary" type="submit">Valider</button>
                                    </div>
                                </div>
                            {{form_end(form)}}
                        </div>
                    </div>
                {% if app.request.method =="POST" %}
                    <div class="container mb-3">
                        <div class="jumbotron">
                            <h3> FILIERE : {{ classe.filiere.denomination }}<h3>
                            <h4> Classe : {{ classe.denomination }}<h4>
                            <p> Année active : {{ anneeActive }}</p>
                        </div>
                    </div>

                    <table class="table table-hover">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">Matricule</th>                            
                                <th scope="col">Nom</th>
                                <th scope="col">Prénoms</th>
                                <th class="col-5">Date de naissance</th>
                                <th class="ms-5">Actions</th>
    
                            </tr>
                        </thead>
                        <tbody>
                            {% for etudiant in etudiant %}
                                <tr>
                                    <td>{{etudiant.matricule}}</td>
                                    <td>{{etudiant.nom}}</td>
                                    <td>{{etudiant.prenoms}}</td>
                                    <td>{{etudiant.dateNaissance|date('d-m-Y')}}</td>
                                    <td>
                                        <a href="{{ path('bulletin_impression', {'matricule': etudiant.matricule, 'classe':classe.codeClasse, 'anneeActive': anneeActive})}}" class="btn btn-primary">Imprimer le Bulletin</a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>

                {% endif %}
            </div>
    </div>


   
  </div>

  

  </div>
</body>
</html>

{% include 'home/footer.html.twig' %}



