<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <title>Titre de la page</title>
  <link rel="stylesheet" href="style.css">
  <style>

    .table1{
        margin: auto;
        width: 70%;
    }


    caption{
        margin-top: 13%;
        margin-left: 35%; 
        margin-right: 35%; 
        border: 2px solid skyblue;
        border-collapse: collapse;
        padding: 2px;
        
    }

.note{
    border-collapse: collapse;
    width: 100%;
}

 .entete, .titre, .contenu, .fin  {
        border: 1px solid black;
}

.entete, .titre, .fin{
    font-size: 13px;
}



.contenu{
    font-size: 13px;
}

.coeff{
    text-align: center;
}

.observation{
    margin: auto;
    width: 100%;
    text-align : center;
    padding : 3px;
}


.obs-td{
    text-decoration: underline;
}



    

  </style>
</head>
{% for etudiant in etudiant %}
<body>

    

    <table class="table1">
  
        <caption>PREMIER SEMESTRE</caption>

        <tr> 
            <td class="left"> <span>Annéee Scolaire : {{ anneeActive }} </span></td>  
            <td class="right"> <span>Matricule : {{ etudiant.matricule }} </span></td> 
        </tr>

    </table>

    <table class="table1">

        <tr> 
            <td>Classe : {{ classe.denomination|upper}}</td> 
        </tr>
        <tr> 
            <td>Nom & Prénoms : {{ etudiant.nom|upper}} {{ etudiant.prenoms|upper}}</td> 
        </tr>

    </table>

    <table class="table1">
  
        <tr> 
            <td class="left"> <span>Date de naissance : {{ etudiant.dateNaissance|date('d/m/Y') }} </span></td>  
            <td class="right"> <span>Lieu de naissance : {{ etudiant.lieuNaissance }} </span></td> 
        </tr>

    </table>

    <table class="note">
  
        <tr> 
            <th class="entete"> MATIERES </th>  
            <th class="entete"> MOY, <br>/20 </th> 
            <th class="entete"> COEFF</th> 
            <th class="entete"> MOY AVEC <br>COEFF </th> 
            <th class="entete"> NOM DU PROFESSEUR </th> 
            <th class="entete"> APPRECIATIONS DES PROFESSEURS </th> 
        </tr>
        
        <tr> 
            <th class="titre"> MATIERES GENERALES </th>  
            <th class="titre"> </th> 
            <th class="titre"> </th> 
            <th class="titre">  </th> 
            <th class="titre">  </th> 
            <th class="titre">  </th> 
        </tr>
        <tr> 
            
            
                <td class="contenu"> 

                    {% for listeMat in listeMat %}

                        {% if listeMat.TypeMatiere == "MATIERES GENERALES" %}

                            {{listeMat.denomination | upper }}<br>

                        {% endif %}

                    {% endfor %}

                </td>  
                <td class="contenu coeff">

                    {% for listeMat in listeMat %}

                        {% if listeMat.TypeMatiere == "MATIERES GENERALES" %}

                             {{ listeMat.coefficient | number_format(2) }} <br>

                        {% endif %}

                    {% endfor %}

                    
                </td> 
                <td class="contenu coeff">

                    {% for listeMat in listeMat %}

                        {% for NoteMatGen in NoteMatGen %}

                            {% if listeMat.denomination == NoteMatGen.matiere.denomination and NoteMatGen.matricules == etudiant.matricule and NoteMatGen.classes == etudiant.classe and NoteMatGen.annee == etudiant.anneeScolaire %}

                                {{ NoteMatGen.matiere.coefficient | number_format(2) }} <br>

                            {% endif %}
    
                        {% endfor %}

                    {% endfor %}

                    
                </td> 
                <td class="contenu coeff">

                    {% for listeMat in listeMat %}

                        {% for NoteMatGen in NoteMatGen %}

                            {% if listeMat.denomination == NoteMatGen.matiere.denomination and NoteMatGen.matricules == etudiant.matricule and NoteMatGen.classes == etudiant.classe and NoteMatGen.annee == etudiant.anneeScolaire %}

                                {{ (NoteMatGen.moyenne * NoteMatGen.matiere.coefficient) | number_format(2) }} <br>

                            {% endif %}
    
                        {% endfor %}

                    {% endfor %}
                
                </td> 
                <td class="contenu">

                    {% for listeMat in listeMat %}

                        {% for NoteMatGen in NoteMatGen %}

                            {% if listeMat.denomination == NoteMatGen.matiere.denomination and NoteMatGen.matricules == etudiant.matricule and NoteMatGen.classes == etudiant.classe and NoteMatGen.annee == etudiant.anneeScolaire %}

                                {{ NoteMatGen.matiere.prof }} <br>

                            {% endif %}
    
                        {% endfor %}

                    {% endfor %}

                   
                </td> 
                <td class="contenu">
                    {% for NoteMatGen in NoteMatGen %}

                        {% if  NoteMatGen.matricules == etudiant.matricule and NoteMatGen.classes == etudiant.classe and NoteMatGen.annee == etudiant.anneeScolaire %}

                            {% if NoteMatGen.moyenne >=0 and NoteMatGen.moyenne <= 7 %}
                                BLAME <br>
                            {% elseif NoteMatGen.moyenne > 7 and NoteMatGen.moyenne < 10 %}
                                INSUFFISANT <br>
                            {% elseif NoteMatGen.moyenne >= 10 and NoteMatGen.moyenne < 12 %}
                                PASSABLE <br>
                            {% elseif NoteMatGen.moyenne >= 12 and NoteMatGen.moyenne < 14 %}
                                ASSEZ-BIEN <br>
                            {% elseif NoteMatGen.moyenne >= 14 and NoteMatGen.moyenne < 16 %}
                                BIEN <br>
                            {% elseif NoteMatGen.moyenne >= 16 and NoteMatGen.moyenne < 18 %}
                                TRES-BIEN <br>
                            {% elseif NoteMatGen.moyenne >= 18 and NoteMatGen.moyenne < 20 %}
                                EXCELLENT <br>
                            {% endif %}

                        {% endif %}
    
                    {% endfor %}
                 
                </td> 
          
            
        </tr>
        <tr> 
            
            <th class="fin"> MOYENNE DES MATIERES GENERALES </th>  
            <th class="fin"> </th> 

            <th class="fin"> 
                {% set somCoeffMatGen = 0 %}
                {% set somMoyMatGen = 0 %}
                {% for NoteMatGen in NoteMatGen %}

                    {% if  NoteMatGen.matricules == etudiant.matricule and NoteMatGen.classes == etudiant.classe and NoteMatGen.annee == etudiant.anneeScolaire %}

                        {% set somCoeffMatGen = somCoeffMatGen + NoteMatGen.matiere.coefficient %} 
                        {% set somMoyMatGen = somMoyMatGen + (NoteMatGen.matiere.coefficient * NoteMatGen.moyenne) %} 

                    {% endif %}
    
                {% endfor %}
                {{ somCoeffMatGen | number_format(2) }}

            </th> 


            <th class="fin">  
              
                {{ somMoyMatGen | number_format(2) }}

            </th> 

            <th class="fin">  
                 Moyenne : 
                
                {% if somCoeffMatGen == 0 %}
                    0
                {% else %}
                    {{ (somMoyMatGen / somCoeffMatGen) | number_format(3)}}
                {% endif %}
                 
            </th> 
            <th class="fin">  </th> 
        </tr>


        <tr> 
            <th class="titre"> MATIERES PROFESSIONNELLES </th>  
            <th class="titre"> </th> 
            <th class="titre"> </th> 
            <th class="titre">  </th> 
            <th class="titre">  </th> 
            <th class="titre">  </th> 
        </tr>
        <tr> 
            
            
                <td class="contenu"> 

                    {% for listeMat in listeMat %}

                        {% if listeMat.TypeMatiere == "MATIERES PROFESSIONNELLES" %}

                            {{listeMat.denomination | upper }}<br>

                        {% endif %}

                    {% endfor %}

                </td>  
                <td class="contenu coeff">

                    {% for listeMat in listeMat %}

                        {% for NoteMatProfs in NoteMatProfs %}

                            {% if listeMat.denomination == NoteMatProfs.matiere.denomination and NoteMatProfs.matricules == etudiant.matricule and NoteMatProfs.classes == etudiant.classe and NoteMatProfs.annee == etudiant.anneeScolaire %}

                                {{ NoteMatProfs.moyenne | number_format(2) }} <br>

                            {% endif %}
    
                        {% endfor %}

                    {% endfor %}

                </td> 
                <td class="contenu coeff">

                    {% for listeMat in listeMat %}

                        {% if listeMat.TypeMatiere == "MATIERES PROFESSIONNELLES" %}

                            {{ listeMat.coefficient | number_format(2) }} <br>

                        {% endif %}

                    {% endfor %}

                    

                </td> 
                <td class="contenu coeff">

                    {% for listeMat in listeMat %}

                        {% for NoteMatProfs in NoteMatProfs %}

                            {% if listeMat.denomination == NoteMatProfs.matiere.denomination and NoteMatProfs.matricules == etudiant.matricule and NoteMatProfs.classes == etudiant.classe and NoteMatProfs.annee == etudiant.anneeScolaire %}

                                {{ (NoteMatProfs.moyenne * NoteMatProfs.matiere.coefficient) | number_format(2) }} <br>

                            {% endif %}
    
                        {% endfor %}

                    {% endfor %}


                </td> 
                <td class="contenu">

                    {% for listeMat in listeMat %}

                        {% for NoteMatProfs in NoteMatProfs %}

                            {% if listeMat.denomination == NoteMatProfs.matiere.denomination and NoteMatProfs.matricules == etudiant.matricule and NoteMatProfs.classes == etudiant.classe and NoteMatProfs.annee == etudiant.anneeScolaire %}

                                {{ NoteMatProfs.matiere.prof }} <br>

                            {% endif %}
    
                        {% endfor %}

                    {% endfor %}


                    
                </td> 
                <td class="contenu">
                    {% for NoteMatProfs in NoteMatProfs %}

                        {% if  NoteMatProfs.matricules == etudiant.matricule and NoteMatProfs.classes == etudiant.classe and NoteMatProfs.annee == etudiant.anneeScolaire %}

                            {% if NoteMatProfs.moyenne >=0 and NoteMatProfs.moyenne <= 7 %}
                                BLAME <br>
                            {% elseif NoteMatProfs.moyenne > 7 and NoteMatProfs.moyenne < 10 %}
                                INSUFFISANT <br>
                            {% elseif NoteMatProfs.moyenne >= 10 and NoteMatProfs.moyenne < 12 %}
                                PASSABLE <br>
                            {% elseif NoteMatProfs.moyenne >= 12 and NoteMatProfs.moyenne < 14 %}
                                ASSEZ-BIEN <br>
                            {% elseif NoteMatProfs.moyenne >= 14 and NoteMatProfs.moyenne < 16 %}
                                BIEN <br>
                            {% elseif NoteMatProfs.moyenne >= 16 and NoteMatProfs.moyenne < 18 %}
                                TRES-BIEN <br>
                            {% elseif NoteMatProfs.moyenne >= 18 and NoteMatProfs.moyenne < 20 %}
                                EXCELLENT <br>
                            {% endif %}

                        {% endif %}
    
                    {% endfor %}
                </td> 
          
            
        </tr>
        <tr> 
            <th class="fin"> MOYENNE DES MATIERES PROFESSIONNELLES </th> 
            <th class="fin"> </th> 

            <th class="fin"> 
                {% set somCoeffmatProfs = 0 %}
                {% set somMoymatProfs = 0 %}
                {% for NoteMatProfs in NoteMatProfs %}

                    {% if  NoteMatProfs.matricules == etudiant.matricule and NoteMatProfs.classes == etudiant.classe and NoteMatProfs.annee == etudiant.anneeScolaire %}

                        {% set somCoeffmatProfs = somCoeffmatProfs + NoteMatProfs.matiere.coefficient %} 
                        {% set somMoymatProfs = somMoymatProfs + (NoteMatProfs.matiere.coefficient * NoteMatProfs.moyenne) %} 

                    {% endif %}
    
                {% endfor %}
               
                {{ somCoeffmatProfs | number_format(2) }}
            </th> 
            <th class="fin">  
               
                {{ somMoymatProfs | number_format(2) }}
            </th> 
            <th class="fin">  

                 Moyenne : 

                {% if somCoeffmatProfs == 0 %}
                    0
                {% else %}
                 
                    {{ (somMoymatProfs / somCoeffmatProfs) | number_format(3)}}

                {% endif %}

            </th>  
            <th class="fin">  </th> 
        </tr>

        <tr> 
            <th class="fin">TOTAUX </th> 
            <th class="fin"> </th> 

            <th class="fin"> 
               
                {{ (somCoeffmatProfs + somCoeffMatGen) | number_format(2) }}
            </th> 
            <th class="fin">  
               
                {{ (somMoymatProfs + somMoyMatGen) | number_format(2) }}
            </th> 
            <th class="fin">  </th>  
            <th class="fin">  </th> 
        </tr>

        <tr> 
            <th class="fin">MOYENNE PREMIER SEMESTRE </th> 
            <th class="fin"> 
                {% if somCoeffmatProfs == 0 %}
                    0
                {% else %}
                 
                    {{ ( ((somMoymatProfs / somCoeffmatProfs) + (somMoyMatGen / somCoeffMatGen)) / 2 )  | number_format(3) }}

                {% endif %}

                 
            </th> 

            <th class="fin" colspan="2">
                CLASSEMENT : 
                {% for cle, notes in notes %}

                    {% if notes.matricule == etudiant.matricule and notes.classe == etudiant.classe and notes.anneeScolaire == anneeActive %}

                        {% if notes.moyenne == 0 %}
                            
                        {% else %}
                           
                           {% if cle == 1 and etudiant.sexe == "Femme" %}
                                {{cle}} ère 
                            {% elseif cle == 1 and etudiant.sexe == "Homme" %}
                                {{cle}} er 
                            {% else %}
                                {{cle}} ième
                            {% endif %}

                        {% endif %}

                    {% endif %}

                {% endfor %}
            </th> 
            
            <th class="fin">  
                
            </th>  
            <th class="fin">  
                
            </th> 
        </tr>

        <tr> 
            <th class="fin" colspan="6">

                <table class="observation" cellpadding="15">
                    <tr>
                        <td class="obs-td">OBSERVATIONS EVENTUELLES</td>
                        <td class="obs-td">AVIS DU CONSEIL DE CLASSE</td>
                        <td class="obs-td">DIRECTEUR D'INSTITUT {{ directeur.filiere.codeFiliere }}</td>
                    </tr>

                    <tr>
                        <th>
                            {% set moy = 0 %}

                            {% if somCoeffmatProfs == 0 or  somCoeffMatGen == 0 %}
                                {% set moy = 0 %}
                            {% else %}
                                {% set moy = ( ((somMoymatProfs / somCoeffmatProfs) + (somMoyMatGen / somCoeffMatGen)) / 2 )  | number_format(3) %}
                            {% endif %}

                            {% if moy >=0 and moy <= 7 %}
                                BLAME <br>
                            {% elseif moy > 7 and moy < 10 %}
                                INSUFFISANT <br>
                            {% elseif moy >= 10 and moy < 12 %}
                                PASSABLE <br>
                            {% elseif moy >= 12 and moy < 14 %}
                                ASSEZ-BIEN <br>
                            {% elseif moy >= 14 and moy < 16 %}
                                BIEN <br>
                            {% elseif moy >= 16 and moy < 18 %}
                                TRES-BIEN <br>
                            {% elseif moy >= 18 and moy <= 20 %}
                                EXCELLENT 
                            {% endif %}
                        </th>
                        <th></th>
                        <th>
                            {{directeur.filiere.directeur}}
                        </th>
                    </tr>
                </table>
                 
            </th> 
            
        </tr>

    </table>

    
</body>

{% endfor %}
</html>