<!DOCTYPE html>
<html lang="fr">
{% include 'home/head.html.twig' %}

<body class="hold-transition sidebar-mini layout-fixed">
<div class="wrapper">

  {% include 'home/navbar.html.twig' %}

   <div class="container">

       {% include 'configuration/messageFlash.html.twig' %}


   <div class="card border-info" style="max-width: 80rem;">
        <div class="card-header">
            <div class="row">
                <div class="col-md-4">
                    <h3 class="h3">
                         ANNEES ACADEMIQUES
                    </h3>
                </div>
                <div class="col-md-3">
                     <a href="{{ path('creer_annee')}}" class="btn btn-warning">Créer Année Academique</a>
                </div>
               
            </div>
           
            
        </div>
            <div class="card-body">

                 <table class="table text-center">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Année scolaire</th>
                        <th scope="col">Debut</th>
                        <th scope="col">Fin du 1er semestre</th>
                        <th scope="col">Fin</th>
                        <th scope="col">Statut</th>
                        <th scope="col" class="text-center">Actions</th>
    
                    </tr>
                </thead>
                <tbody>

                     {% for annee in annee %}

                        <tr>
                            <th>{{ annee.anneeScolaire}}</th>
                            <td>{{ annee.debut | date('d-m-y')}}</td>
                            <td>{{ annee.finPremierSemestre | date('d-m-y')}}</td>
                            <td>{{ annee.fin | date('d-m-y')}}</td>
                            <td>
                                {% if annee.active %}
                                    <h4 class="text-success">
                                        Activer
                                    </h4>
                                {% else %}
                                    <h4 class="text-danger">
                                        Desactiver
                                    </h4>
                                {% endif %}
                            </td>
                            <th class="text-center">
                                {% if annee.active %}
                                    <a class="btn btn-danger" href="{{ path('activer', {'id': annee.id})}}">Desactiver</a>
                                {% else %}
                                    <a class="btn btn-success" href="{{ path('activer', {'id': annee.id})}}">Activer</a>
                                {% endif %}

                                <a class="btn btn-primary" href="{{ path('annee_edit', {'anneeScolaire': annee.AnneeScolaire})}}">Modifer</a>
                            </th>
                            
                        </tr>
                
                    {% endfor %}
                     

                    
                     
                </tbody>
            </table>

                
            </div>
    </div>


   
  </div>

  

  </div>

  
</body>
</html>

{% include 'home/footer.html.twig' %}

{% block javascript %}

    <script type="text/javascript">
    window.onload = ()=>{
        let activer = document.querySelectorAll("[type=checkbox]")
        for(let bouton of activer){
            bouton.addEventListener('click', function(){
                let htmlttp = new HTMLTTPRequest;

                htmlttp.open("get", `/annee/academique/activer/${this.dataset.id}`)

                htmlttp.send()
            })
        }
        }
    </script>
{% endblock %}




